<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
    colors="true"   
    verbose="true"
    stopOnFailure="false">
    <testsuites>
        <testsuite name="Example test">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>

<!-- 
    colors - подсветка сообщений
    verbose - вывод инфоррмационных сообщений в более подробном формате
    stopOnFailure - при ошибке работа прилодения не прекращается
    <testsuites> - место, где находятся наши тесты
 -->